<section class="h-screen w-full flex flex-col text-zinc-900 p-4 items-center">
  <div class="h-full flex items-center">
    <div
      class="lg:bg-neutral-50 overflow-hidden grid lg:grid-cols-2 gap-8 lg:h-[100vh] lg:w-screen"
    >
      <div class="grid place-content-center">
        <div class="flex flex-col gap-5 justify-center p-4 lg:p-8 lg:pr-16">
          <div class="flex flex-col items-center gap-4">
            <h1 class="text-2xl text-zinc-900 dark:text-zinc-200">
              Sign up to OurBookStore
            </h1>
          </div>

          <div class="flex flex-col items-center mt-8 gap-4">
            <div class="grid lg:grid-cols-2 gap-4 w-full">
              <button
                class="border-neutral-950/10 p-2 px-4 rounded-lg border hover:bg-yellow-600/10 text-neutral-900 duration-200 dark:border-white/5 dark:text-white flex items-center gap-2 justify-center"
              >
                <span class="block h-5 w-5">
                  <img
                    src="/img/icons/google.svg"
                    class="h-full w-full object-cover"
                    alt=""
                  />
                </span>
                <span>With Google</span>
              </button>
              <button
                class="border-neutral-950/10 p-2 px-4 rounded-lg border hover:bg-yellow-600/10 text-neutral-900 duration-200 dark:border-white/5 dark:text-white flex items-center gap-2 justify-center"
              >
                <span class="block h-5 w-5">
                  <img
                    src="/img/icons/facebook.svg"
                    class="h-full w-full object-cover"
                    alt=""
                  />
                </span>
                <span>With Facebook</span>
              </button>
            </div>

            <p class="text-zinc-500 font-light">or sign up using</p>
          </div>

          <div class="grid gap-8">
            <form action="" class="flex flex-col gap-4">
              <div class="flex flex-col gap-2">
                <input
                  type="text"
                  name=""
                  class="border outline-none focus:ring-2 focus:ring-offset-1 focus:ring-orange-600/50 duration-200 border-zinc-950/20 text-zinc-900 dark:text-neutral-100 bg-transparent hover:border-zinc-950/40 dark:border-white/10 rounded-lg p-2 placeholder:font-light"
                  id=""
                  placeholder="Name"
                />
              </div>
              <div class="flex flex-col gap-2">
                <input
                  type="email"
                  name=""
                  class="border outline-none focus:ring-2 focus:ring-offset-1 focus:ring-orange-600/50 duration-200 border-zinc-950/20 text-zinc-900 dark:text-neutral-100 bg-transparent hover:border-zinc-950/40 dark:border-white/10 rounded-lg p-2 placeholder:font-light"
                  id=""
                  placeholder="Email Adress"
                />
              </div>
              <div class="flex flex-col gap-2">
                <input
                  type="password"
                  name=""
                  class="border outline-none focus:ring-2 focus:ring-offset-1 focus:ring-orange-600/50 duration-200 border-zinc-950/20 text-zinc-900 dark:text-neutral-100 bg-transparent hover:border-zinc-950/40 dark:border-white/10 rounded-lg p-2 placeholder:font-light"
                  id=""
                  placeholder="Password"
                />
              </div>

              <button
                class="p-2 px-3 bg-gradient-to-b focus:scale-95 duration-300 from-yellow-300 to-yellow-600 mt-4 text-white rounded-lg font-semibold flex flex-col overflow-hidden h-12 items-center group"
              >
                <span class="block mt-1 group-hover:-mt-8 duration-300"
                  >Sign up</span
                >
                <span class="mt-6 group-hover:mt-3 duration-300">Sign up</span>
              </button>
            </form>

            <div
              class="flex flex-col lg:flex-row justify-center gap-5 lg:gap-8 items-center text-zinc-500 dark:text-zinc-100"
            >
              <a href="" class="hover:text-orange-600 duration-300 font-light"
                >Forgot your password ?</a
              >
              <a
                routerLink="../sign_in"
                class="hover:text-orange-600 duration-300 font-light"
                >Sign in</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="hidden lg:block">
        <div
          class="h-full w-full leftside rounded-l-[3rem] grid place-content-center"
        >
          <div class="w-full flex justify-center">
            <!-- <div class="bg-neutral-100 border-t-2 border-orange-500 lg:p-6 rounded-2xl w-[60%]">
                            <div >
                                <p class="">
                                    " Eventi is great for those who want to sell online tickets for their physical or online event, i really like the experience "</p>
                            </div>

                            <div class="mt-8 flex items-center gap-2">
                                <div class="size-10 rounded-full bg-gray-600"></div>
                                <div>
                                    <h4 class="text-lg font-light">Likeur off</h4>
                                    <p class="text-sm -mt-1 text-neutral-500">Eventi co-founder</p>
                                </div>
                            </div>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
